@model QLKhachSan.Models.RoomReservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RoomReservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Room Name</dt>
        <dd>@Html.DisplayFor(model => model.Room.Name)</dd>
        
        <dt>Date Created</dt>
        <dd>@Html.DisplayFor(model => model.DateCreated)</dd>
    </dl>
</div>

<table class="table">
    @Html.ActionLink("Add New Customer", "AddToReservation", "Customers", new { id = Model.Id }, new { @class = "btn-custom btn btn-primary" })
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>CMND</th>
        <th>Customer Type</th>
        <th>Address</th>
        <th>Options</th>
    </tr>

    @foreach (var item in Model.RoomReservationDetails)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Customer.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Customer.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Customer.CMND)</td>
            <td>@Html.DisplayFor(modelItem => item.Customer.CustomerType.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Customer.Add)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Customers", new { id = item.Customer.Id }, null) |
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                @Html.ActionLink("Delete", "MoveOutReservation", "Customers", new { reservation = Model.Id, details = item.Id }, null)
            </td>
        </tr>
    }
</table>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
